LinkedList/bin/Debug/net6.0/LinkedList.dll
LinkedList/bin/Debug/net6.0/LinkedList.pdb
LinkedList/obj/Debug/net6.0/LinkedList.dll
LinkedList/obj/Debug/net6.0/LinkedList.pdb
LinkedList/obj/Debug/net6.0/ref/LinkedList.dll
LinkedList/obj/Debug/net6.0/refint/LinkedList.dll
